<img class="logo" src="/img/oba_logo.jpg" alt="oba_logo" href="#home">

<div class="header">
    <h1>Zoek hier je boek</h1>
</div>

<div class="form">
    <form class="search" action="/results">
        <input id="input" type="text" placeholder="Dolfje Weerwolfje" disabled>
        <button type="submit" class="button">SEARCH</button>
    </form>
</div>