<img class="logo" alt="oba_logo" src="/img/oba_logo_small.webp" 
srcset="/img/oba_logo_large.webp 1000w, /img/oba_logo_small.webp 300w"
sizes="(max-width: 1000px) 1000px, (max-width: 300px) 300px, 1000px">

<div class="header">
    <h1>Zoek hier je boek</h1>
</div>

<div class="form">
    <form class="search" action="/results" method="GET">
        <input id="input" type="text" name="query" value="Dolfje Weerwolfje" disabled>
        <button type="submit" class="button">SEARCH</button>
    </form>
</div>