<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Performance Matters</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<!-- Styling -->
<link rel="stylesheet" href="/css/styles.css">

<!-- Remove favoico.ico error -->
<link rel="shortcut icon" href="#"/>

