<!-- views/pages/results.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div id="books" class="books">
        <% jsonData.forEach(data => { 
        
        var title = data.titles.title._text;
        var cover = data['coverimages']['coverimage'][0]['_text'];
        var description = data['description']['physical-description']['_text'];

        %>
            <div class="book">
                <h2 class="title"><%- title %></h2>
                <img alt="book cover" class="cover" src = <%-cover%> ></h2>
                <p class="description"> <%- description %> </p>
                <a href="/availability/FRABLKOMTHIER">Beschikbaarheid</a>
            </div>
        <% }); %>
        </div>
    </div>  
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>